[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "trend-classifier"
version = "0.1.8"
description = "Package for automated signal segmentation, trend classification and analysis."
authors = ["Krystian Safjan <ksafjan@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["trend", "timeseries", "classification", "segmentation", "analysis", "algotrading", "finance"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Financial and Insurance Industry",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Topic :: Software Development :: Libraries :: Python Modules",
    'Topic :: Utilities',
]

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
matplotlib = "^3.5.3"
pydantic = "^1.10.1"
numpy = "^1.23.2"
pandas = "^1.4.4"

[tool.poetry.group.dev.dependencies]
tox = "^3.25.1"
portray = "^1.7.0"
pdoc3 = "^0.10.0"
jupytext = "^1.14.1"
notebook = "^6.4.12"
black = "^22.6.0"
pre-commit = "^2.20.0"
scriv = {extras = ["toml"], version = "^0.16.0"}
optuna = "^3.0.0"
ipywidgets = "^8.0.2"
devtools = "^0.9.0"
plotly = "^5.10.0"
yfinance = "^0.1.74"
pandas = "^1.4.3"
pip-upgrader = "^1.4.15"
pytest-sugar = "^0.9.5"
pytest-cov = "^3.0.0"

[tool.poetry.group.test.dependencies]
pytest = "^7.1.2"
pytest-icdiff = "^0.6"
pytest-clarity = "^1.0.1"

[tool.scriv]
format = "md"

[project.urls]
"Source" = "https://github.com/izikeros/trend_classifier"
"Bug Tracker" = "https://github.com/izikeros/trend_classifier/issues"
