exclude = [
    ".tox",
    ".git",
    "docs",
    "venv",
    ".venv",
    "*.pyc",
    "__pycache__",
    "notebooks",
]

line-length = 88
indent-width = 4
target-version = "py310"

[lint]
select = [
    "C4",   # flake8-comprehensions
    "C9",   # mccabe
    "N",    # pep8-naming
    "E",    # pycodestyle errors
    "W",    # pycodestyle warnings
    "F",    # Pyflakes
    "UP",   # pyupgrade
    "B",    # flake8-bugbear
    "SIM",  # flake8-simplify
    "I",    # isort
    "RUF",  # Ruff-specific rules
    "PIE",  # flake8-pie
]

ignore = [
    "D100", # Missing docstring in public module
    "D101", # Missing docstring in public class
    "D104", # Missing docstring in public package
    "D105", # Missing docstring in magic method
    "D107", # Missing docstring in __init__
    "E501", # line too long (handled by formatter)
]

[lint.mccabe]
max-complexity = 10

[lint.per-file-ignores]
"**/tests/*" = ["D100", "D101", "D102", "D103", "E501"]
"**/*.ipynb" = ["D100", "D101", "D102", "D103", "E501"]

[lint.isort]
known-first-party = ["trend_classifier"]
